absl-py==0.15.0
accelerate==0.30.1
addict==2.4.0
aiohttp==3.9.3
aioresponses==0.7.6
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.3.0
APScheduler==3.10.1
apturl==0.5.2
argon2-cffi==21.1.0
asgi-correlation-id==4.3.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==21.2.0
awscli==1.29.54
Babel==2.8.0
backcall==0.2.0
backoff==2.2.1
bcrypt==3.2.0
beautifulsoup4==4.10.0
beniget==0.4.1
black==24.3.0
bleach==4.1.0
blinker==1.4
blosc==1.9.2
boto3==1.28.23
botocore==1.31.54
Bottleneck==1.3.2
Brlapi==0.8.3
cachetools==5.0.0
certifi==2020.6.20
cffi==1.15.0
chardet==4.0.0
charset-normalizer==3.3.2
click==8.0.3
cloudpickle==2.0.0
colorama==0.4.4
coloredlogs==15.0.1
command-not-found==0.3
contourpy==1.2.0
cryptography==3.4.8
cupshelpers==1.0
cycler==0.12.1
Cython==3.0.0
dask==2022.1.0+dfsg
dataclasses-json==0.6.4
dbus-python==1.2.18
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
dill==0.3.8
distlib==0.3.4
distributed==2022.1.0+ds.1
distro==1.7.0
distro-info==1.1+ubuntu0.2
docker==6.1.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.16
dropbox==11.26.0
duplicity==0.8.21
elasticache-auto-discovery==1.0.0
entrypoints==0.4
et-xmlfile==1.0.1
exceptiongroup==1.2.0
fastapi==0.110.0
fastapi-cprofile==0.0.2
fasteners==0.14.1
filelock==3.6.0
flake8==7.0.0
flatbuffers==24.3.25
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.5.0
ftfy==6.2.0
fusepy==3.0.1
future==0.18.2
gast==0.5.2
google-api-core==2.19.0
google-api-python-client==2.127.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==0.4.2
google-cloud-core==2.4.1
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
GPUtil==1.4.0
grpcio==1.30.2
h11==0.14.0
h5py==3.6.0
h5py.-debian-h5py-serial==3.6.0
HeapDict==1.0.1
html5lib==1.1
httpcore==1.0.4
httplib2==0.20.2
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.23.0
humanfriendly==10.0
idna==3.3
imageio==2.34.0
importlib_metadata==7.1.0
inference==0.17.0
-e git+https://github.com/roboflow/inference.git@e635a05d6ba5c8b0337404cf5e2097d56e1e05b7#egg=inference_development
inference-sdk==0.9.15
iniconfig==1.1.1
ipykernel==6.7.0
ipython==7.31.1
ipython_genutils==0.2.0
ipywidgets==6.0.0
isort==5.13.2
jax==0.4.14
jaxlib==0.4.14
jdcal==1.0
jedi==0.18.0
jeepney==0.7.1
Jinja2==3.0.3
jmespath==1.0.1
joblib==0.17.0
jsonschema==3.2.0
jupyter-client==7.1.2
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
keras==2.13.1
keyring==23.5.0
kiwisolver==1.4.5
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.3
libarchive-c==2.9
llvmlite==0.38.0
locket==0.2.1
lockfile==0.12.2
louis==3.20.0
lxml==4.8.0
macaroonbakery==1.3.1
Mako==1.1.3
Markdown==3.3.6
markdown-it-py==3.0.0
MarkupSafe==2.0.1
marshmallow==3.21.0
matplotlib==3.8.3
matplotlib-inline==0.1.3
mccabe==0.7.0
mdurl==0.1.2
mediapipe==0.10.14
metlo==0.1.5
metlo-python-agent-bindings-common==0.0.2
ml-dtypes==0.3.1
monotonic==1.6
more-itertools==8.10.0
mpmath==1.3.0
msgpack==1.0.3
multidict==6.0.5
mypy-extensions==1.0.0
nbclient==0.5.6
nbconvert==6.4.0
nbformat==5.1.3
nest-asyncio==1.5.4
netifaces==0.11.0
networkx==3.2.1
nose==1.3.7
notebook==6.4.8
numba==0.55.1
numexpr==2.8.1
numpy==1.25.2
nvidia-cuda-runtime-cu12==12.4.127
nvidia-ml-py3==7.352.0
oauthlib==3.2.0
odfpy==1.4.2
olefile==0.46
onnxruntime==1.15.1
onnxruntime-gpu==1.18.0
openai==1.12.0
opencv-contrib-python==4.9.0.80
opencv-python==4.8.0.76
opencv-python-headless==4.9.0.80
openpyxl==3.0.9
opt-einsum==3.3.0
orjson==3.10.3
packaging==24.0
PAM==0.4.2
pandas==1.3.5
pandocfilters==1.5.0
paramiko==2.9.3
parso==0.8.1
partd==1.2.0
pathspec==0.12.1
pendulum==3.0.0
pexpect==4.8.0
pickleshare==0.7.5
piexif==1.1.3
pillow==10.4.0
platformdirs==4.2.2
pluggy==1.4.0
ply==3.11
prettytable==3.10.0
prometheus-client==0.9.0
prometheus-fastapi-instrumentator==6.0.0
prompt-toolkit==3.0.28
proto-plus==1.23.0
protobuf==4.25.3
psutil==5.9.0
ptyprocess==0.7.0
PuLP==2.8.0
py==1.10.0
py-cpuinfo==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
pybase64==1.3.2
pycairo==1.20.1
pycocotools==2.0.7
pycodestyle==2.11.1
pycparser==2.21
pycups==2.0.1
pydantic==2.8.2
pydantic-settings==2.4.0
pydantic_core==2.20.1
pydot==2.0.0
pyflakes==3.2.0
pygit2==1.6.1
Pygments==2.17.2
PyGObject==3.42.1
PyICU==2.8.1
pyinotify==0.9.6
PyJWT==2.3.0
pymacaroons==0.13.0
pymemcache==4.0.0
PyNaCl==1.5.0
pyOpenSSL==21.0.0
pyparsing==3.1.2
pyRFC3339==1.1
pyrsistent==0.18.1
pytest==8.0.2
pytest-asyncio==0.21.1
pytest-timeout==2.3.1
python-apt==2.4.0+ubuntu3
python-dateutil==2.8.1
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.0.1
python-multipart==0.0.9
pythran==0.10.0
pytz==2022.1
pyxdg==0.27
PyYAML==6.0.1
pyzmq==22.3.0
redis==5.0.2
regex==2024.5.15
reportlab==3.6.8
requests==2.31.0
requests-file==2.1.0
requests-mock==1.11.0
requests-oauthlib==1.3.0
requests-toolbelt==1.0.0
rf-clip==1.1
rf-groundingdino==0.2.0
rich==13.5.2
rsa==4.7.2
s3transfer==0.6.2
safetensors==0.4.3
scikit-image==0.22.0
scikit-learn==0.23.2
scipy==1.12.0
screen-resolution-extra==0.0.0
seaborn==0.13.2
SecretStorage==3.3.1
Send2Trash==1.8.1b0
shapely==2.0.1
simplejson==3.17.6
six==1.16.0
skypilot==0.5.0
sniffio==1.3.1
sortedcontainers==2.1.0
sounddevice==0.4.6
soupsieve==2.3.1
ssh-import-id==5.11
starlette==0.36.3
stone==3.3.1
structlog==24.1.0
supervision==0.22.0
sympy==1.12
systemd-python==234
tables==3.7.0
tabulate==0.9.0
tblib==1.7.0
tensorboard==2.13.0
tensorflow==2.13.1
tensorflow-estimator==2.13.0
tensorrt==10.0.1
tensorrt-cu12==10.0.1
tensorrt-cu12-bindings==10.0.1
tensorrt-cu12-libs==10.0.1
tensorrt-dispatch==10.3.0
tensorrt-lean==10.3.0
termcolor==1.1.0
terminado==0.13.1
testpath==0.5.0
texttable==1.6.4
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
tifffile==2024.2.12
time-machine==2.13.0
timm==1.0.3
tldextract==5.1.2
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
toolz==0.11.2
torch==2.3.1
torchvision==0.18.1
tornado==6.1
tqdm==4.66.2
traitlets==5.1.1
transformers @ git+https://github.com/huggingface/transformers.git@15c74a28294fe9082b81b24efe58df16fed79a9e
triton==2.3.1
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.10.0
tzdata==2024.1
tzlocal==5.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.1
ultralytics==8.2.16
unattended-upgrades==0.1
uritemplate==4.1.1
urllib3==1.26.5
usb-creator==0.3.7
uvicorn==0.22.0
uvloop==0.19.0
vboxapi==1.0
virtualenv==20.13.0+ds
wadllib==1.3.6
watchfiles==0.21.0
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.7.0
websockets==12.0
Werkzeug==2.0.2
widgetsnbextension==2.0.0
wrapt==1.13.3
xdg==5
xkit==0.0.0
xlwt==1.3.0
yapf==0.40.2
yarl==1.9.4
zict==2.0.0
zipp==1.0.0
zxing-cpp==2.2.0
